.vscode/settings.json
user poems/Tarot.txt
user poems/Tarot_analysis.txt
*.pyc
__pycache__/
user poems/True Void.txt
*analysis.txt
user poems/Awakening.txt
user poems/Train of fragments.txt
user poems/does it break.txt
.coverage
cloc.exe
cloc
.claude/settings.local.json
user poems/The Dominion of Lies.txt
